<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Net-Scrap</title>
    <link rel="icon" href="@Url.Content("~/Content/forklift.png")" type="image/x-icon">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        #landing {
            height: 100vh;
            min-height:100vh;
            max-height:100vh;
            background-image: url(@Url.Content("~/Content/bg.svg"));
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            z-index: -1000;
        }

        .rounded-input {
            border-radius: 30px;
        }
    </style>
</head>
<body role="main" id="landing">
    <div style="max-height:inherit;">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
