@model IEnumerable<MVCWebRole.Models.RoleStatus>
@{
    Layout = null;
}
<div class=" container-fluid">
    <div class="row p-4">
        @if (Model != null && Model.Any())
        {
            foreach (var worker in Model.Reverse().Take(4))
            {
                <div class="col-3">
                    <div class="card text-white o-hidden h-100 bg-secondary rounded-input hoverable" id="@worker.RowKey">
                        <div class="card-body">
                            <div class="container">
                                <div class="mr-5">
                                    @worker.PartitionKey&nbsp;@worker.RowKey.LastOrDefault()
                                </div>
                                <small>Cpu:&nbsp;</small>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: @worker.CPU%;" aria-valuenow=@worker.CPU.ToString() aria-valuemin="0" aria-valuemax="100">@worker.CPU%</div>
                                </div>
                                <small>Mem:&nbsp;</small>
                                <div class="progress">
                                    @{long percent_memory = Convert.ToInt16(Convert.ToDouble(worker.WorkingMem) / Convert.ToDouble(worker.TotalMem) * 100);}
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: @percent_memory" aria-valuenow=@percent_memory.ToString() aria-valuemin="0" aria-valuemax="100">@percent_memory%</div>
                                </div>
                                @if (!(string.IsNullOrEmpty(worker.CurrentWorkingUrl) || worker.CurrentWorkingUrl.Equals(string.Empty)))
                                {
                                    <br />
                                    <small>
                                        <span class="text-decoration-none d-inline-block text-truncate small" style="max-width: 150px;" title="@worker.CurrentWorkingUrl">
                                            <strong>Curr. URL:</strong>&nbsp;@worker.CurrentWorkingUrl
                                        </span>
                                    </small>
                                }
                            </div>
                        </div>
                        <div class="card-footer text-white clearfix small z-1">
                            <span class="float-left">@worker.State</span>
                            <span class="float-right">
                                <i class="fas fa-angle-right"></i>
                            </span>
                        </div>
                    </div>

                </div>
            }
        }
    </div>
</div>